.wrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.btn {
  padding: 20px;
  border: 0;
  cursor: pointer;
  background: transparent;

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.btnGroup {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waiting {
  color: var(--danger-color);
}

.loaderImage {
  transform: scaleX(-1);
}

.audioTag {
  width: 0;
  height: 0;
  z-index: -1;
}

.play {
  position: relative;
}

.title {
  text-align: center;
}
